*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
    display: grid;
    justify-items: center;
    align-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.result {
    grid-area: result;
}

.content__details {
    grid-area: content__details;
}
.content {
    display: grid;
    grid-template-areas: "result content__details";
    grid-template-columns: 700px 500px;
    column-gap: 50px;
    align-self: flex-end;
}


.search-form {
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
}

.content__list {
    overflow-y: auto;
    height: 400px;
}

.content__list-item {
    display: grid;
    gap: 20px;
    margin-bottom: 10px;
    padding: 5px;
}


.content__details {
    width: 400px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.result__video-container {
    width: 700px;
    height: 500px;
    margin-bottom: 30px;
    position: relative;
}

.result__video  {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
}


.content__video-card-thumbnail {
    width: 200px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}


.search-form__fieldset-title {
    font-weight: normal;
    font-size: 20px;;
}

.title {
    color: white;
    font-size: 70px;
    line-height: 0.8;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content__accent {
    opacity: 0.2;
}

.content__card-link {
    color: white;
    text-decoration: none;
}


.content__video-card-title {
    text-transform: uppercase;
    font-size: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__video-card-description-container {
    flex-grow: 1;
    width: 100px;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
fieldset {
    border: none;
}
.search-form {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: space-around;
    width: 700px;
}
.search-form__fieldset-title {
    margin-bottom: 7px;
}

.search-form__fieldset {
    width: 200px;
}
.search-form__checkbox-list {
    display: flex;
    gap: 8px;
}

.search-form__label {
    display: flex;
    width: fit-content;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    border: none;
}
input[type="text"] {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 7px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    width: 250px;

}

input[type="text"]::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 15px;

}


.search-form__checkbox-list {
    display: flex;
    justify-content: space-between;
    /*width: 100px;*/

}
.search-form__pseudo-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    position: relative;
}
.search-form__pseudo-checkbox::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 17px;
    height: 17px;
    background-color: white;
    display: none;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    display: block;
}


.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
}


.button {
    border: 1px solid white;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}

.search-form__submit-button {
    width: 200px;
    height: 30px;
}

.more-button {
    width: 99%;
    height: 30px;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
}


.button:active {
    background-color: #545050;
}
.search-form__textfield:active {
    outline: 1px solid white;
}
.search-form__label:active + .search-form__pseudo-checkbox::after {
    display: block;
}

.button:focus {
    outline: none;
}


.button:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 2px;
}

.search-form__textfield:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 2px;
}
.search-form__checkbox:focus {
    outline: none;
}

.content__list-item:hover {
    text-decoration: underline;
}
.search-form__label:focus-within {
    outline: 1px solid #fff;
    outline-offset: 2px;
}


.content__card-link:focus {
    border: none;
}

.content__card-link:focus-within {
    outline: 1px solid white;
}

.content__card-link:active {
    background-color: #545050;
    text-decoration: none;
    border: none;
    outline: none;
}







